<div data-ng-controller="MindMapCtrl">
    <form id="CreateMapForm" class="create-form" data-ng-submit="createMap(createdMapName,openCreatedMap)">
    <h2>Create new mind map</h2>
    <br/>
      <input id="CreatedMapName" class="col-md-3 form-control" type="text" name="name" data-ng-model="createdMapName" required placeholder="Mindmap name"/>
      <input class="col-md-3 btn btn-primary pull-right" type="submit" value="Create"/>
      <input type="checkbox" name="openMap" data-ng-model="openCreatedMap" /> Open created map
    </form>
</div>