      <form class="form-signin" name="loginForm" data-ng-submit="login(credentials)" novalidate>
        <h2 class="form-signin-heading">Mindmap Editor</h2>
        <br/>
        <label for="inputLogin" class="sr-only">Username</label>
        <input type="text" id="inputLogin" class="form-control" placeholder="Username" data-ng-model="credentials.username" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" data-ng-model="credentials.password" required>
        <br/>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>