body, html {
    overflow-x: hidden; 
    overflow-y: auto;
}
/* angular loading */
[ng-cloak] {
  display: none;
}

/*firefox fix*/
svg:not(:root) {
  overflow: visible!important;
  z-index: 1000;
}

.node circle {
  cursor: pointer;
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node text {
  font-size: 11px;
}

path.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

.editor {
  padding-top: 100px;
  width: 100%;
  height: 100%;
  overflow: visible;
}
.editor text.editable{
  cursor:pointer;
}



/* make sidebar nav vertical */ 
@media (min-width: 768px) {
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
  }
  .sidebar-nav .navbar ul {
    float: none;
  }
  .sidebar-nav .navbar ul:not {
    display: block;
  }
  .sidebar-nav .navbar li {
    display: block;
    width: 100%;
    text-align: center;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
    float: left;
    width: 55%;
  }
  .sidebar-nav .navbar button {
    margin-right: 12px;
  }
  .create-form {
    width: 50%;
    float:left;
    margin: 30px auto 0 auto;
  }
.editor {
  height: 1024px;
}
}

@media (max-width: 768px) {
  .create-form {
    width: auto;
    float:left;
    margin-top:20px;
  }
.editor {
  height: 624px;
}
}

.row {
    overflow: hidden!important;
}
.headerCaption{
  display:block;
  margin:0px 20px;
  float:left;
  width:300px;
}
#Loading{
  text-align: center;
  margin-top:200px;
}
#Login{
  height:700px;
  background-image:url('../img/how-to-create-mindmap.jpg');
  background-size: cover;
}
#Login .container form{
  background-color:white;
  border:1px solid green;
}
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
/* zarovnavani */
.txtLeft{text-align:left!important;}
.txtCenter{text-align:center!important;}
.txtRight{text-align:right!important;}
.txtJustify{text-align:justify!important;}
.left{float:left!important;}
.right{float:right!important;}
.inner{width:1000px;margin: 0px auto;overflow:hidden;padding:0px 10px;}
.ovHidden{overflow:hidden !important;}

/* lightbox */
#overlay{
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
    height: 100%;
    width: 100%;
    display: inline-block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9998;
    background: black;
    opacity: 0;
}

#overlay.overlay-active{
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
    opacity: .8;
}

.lightbox{
    border-radius: 6px;
    background: white;
    box-shadow: 0 0 16px rgba(0, 0, 0, .4);
    position: absolute;
    min-width: 600px;
    min-height: 400px;
    top: 0;
    left: 50%;
    margin-top: 10%;
    margin-left: -270px;
    z-index: 9999;
    opacity: 0;
    display: none;
}
.lightbox.lightbox-active{
    display: inline-block;
    opacity: 1;
    z-index: 9999;
}
.lightboxBody{
    padding:15px 10px 15px 10px;
}
div#LightboxCloser{
    position:absolute;
    right: 0;
    top: -15px;
    margin-right:-15px;
    height:32px;
    width:32px;
    background:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3gILESkmwo7QzwAAAMtJREFUWMPtVjEOhDAMw8y33Mb/PwbjbfeEMAASQm0Sp6CCqJciaOxQnJCua3g7kLkvzn0WTB7kgkSWWADRJFw8fTJSJHUtUfHjtZmAkpBExDUkE9gdF5tEVjzFaZrQIMIJMaqxGMKQuMfZ7iONiHtLSzPVf12/EXGmtilnM70DJbVdKu7uAwfCSdkzsi/GJLDhE3x2z0/wCBNq4r91Ha4qw6qNqGorrvozkoIjpWPNiYg0FRzzBN+IyNqGNoDQE1FwKIXCc6+xvKFhBvQJgfqfW337AAAAAElFTkSuQmCC');
}
h1.mainCaption{
  font-family:Verdana, sans-serif;
  font-size:28px;
  margin-top:15px;
}
.headerLinks{
  float:left;
  line-height: 90px;
  margin-left:20px;
}
.headerLinks a{
  font-size:28px;
}
.nomargin{margin:0px 0px 0px 0px!important;}

#MyMapsMenu{
  margin-top:90px;
}
input#CreatedMapName{
  width:74%;
}