body, html {
    overflow-x: hidden; 
    overflow-y: auto;
}
/* angular loading */
[ng-cloak] {
  display: none;
}

/*firefox fix*/
svg:not(:root) {
  overflow: visible!important;
  z-index: 1000;
}

.node circle {
  cursor: pointer;
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node text {
  font-size: 11px;
}

path.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

.editor {
  padding-top: 100px;
  width: 100%;
  height: 100%;
  overflow: visible;
}



/* make sidebar nav vertical */ 
@media (min-width: 768px) {
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
  }
  .sidebar-nav .navbar ul {
    float: none;
  }
  .sidebar-nav .navbar ul:not {
    display: block;
  }
  .sidebar-nav .navbar li {
    display: block;
    width: 100%;
    text-align: center;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
    float: left;
    width: 55%;
  }
  .sidebar-nav .navbar button {
    margin-right: 12px;
  }
  .create-form {
    width: 50%;
    float:left;
    margin: 20px auto 0 auto;
  }
  #mindmap-name h2 {
    margin-right: 50px;
  }
.editor {
  height: 1024px;
}
}

@media (max-width: 768px) {
  .create-form {
    width: auto;
    float:left;
    margin-top:20px;
  }
.editor {
  height: 624px;
}
}

.row {
    overflow: hidden!important;
}
#MapName{
  display:block;
  margin:0px 20px;
  float:left;
  width:300px;
}
#Loading{
  text-align: center;
  margin-top:200px;
}
#Login{
  height:700px;
  background-image:url('../img/how-to-create-mindmap.jpg');
  background-size: cover;
}
#Login .container form{
  background-color:white;
  border:1px solid green;
}
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
/* zarovnavani */
.txtLeft{text-align:left!important;}
.txtCenter{text-align:center!important;}
.txtRight{text-align:right!important;}
.txtJustify{text-align:justify!important;}
.left{float:left!important;}
.right{float:right!important;}
.inner{width:1000px;margin: 0px auto;overflow:hidden;padding:0px 10px;}
.ovHidden{overflow:hidden !important;}