<!DOCTYPE html>
<html lang="cs" data-ng-app="mindmap">
<head>
  <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="description" content="">
   <meta name="author" content="">
  <title>Mindmap Editor</title>
  <!-- bootstrap -->
  <link rel="stylesheet" href="css/vendor/bootstrap.min.css">
  <link rel="stylesheet" href="css/vendor/bootstrap-theme.min.css">
  <link rel="stylesheet" href="css/vendor/bootstrap-editable.css">
  <link rel="stylesheet" href="css/vendor/font-awesome.min.css">

  <link rel="stylesheet" href="css/styles.css">
</head>
<body data-ng-controller="AppCtrl">
   <div class="splash" data-ng-cloak>
        <h2 class="loadingCaption">Mindmap editor<br/><br/>Loading...</h2>
    </div>
  <div class="row" data-ng-cloak>
    <!-- header  -->
      <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <div class="headerCaption">
              <a class="navbar-brand" href=""><h1 class="mainCaption">MindMap Editor</h1></a>
            </div>
          </div>
          <div class="collapse navbar-collapse" id="navbar-collapse-1">
            <div class="form-search" data-ng-controller="FormsCtrl">
              <form class="navbar-form navbar-left form-inline" role="search" data-ng-submit="searchForMindMap(searchQuery)">
                <div class="form-group">
                <input class="form-control" type="text" name="query" data-ng-model="searchQuery" placeholder="Search in mindmaps">
                </div>
                <input class="btn btn-default" type="submit" value="Search">
              </form>
            </div>
              <div class="headerLinks">
                <ul class="nav navbar-nav navbar-right" data-ng-if="currentUser">
                 <li class="dropdown">
                    <a class="dropdown-toggle" role="button" id="mapsDropdown" data-toggle="dropdown" href="" aria-expanded="false">
                    Mindmaps
                    <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="mapsDropdown">
                      <li><a href="#/mindmaps/public" active-link="active">Public maps</a></li>
                      <li><a href="#/mindmaps/user" active-link="active">My maps</a></li>
                    </ul>
                  </li>
                  <li><a href="#/about" active-link="active">About</a> </li>
                  <li><a>Logged as: {{currentUser.username}} </a></li>
                  <li><a href="" data-ng-click="logout()">Logout</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right" data-ng-if="!currentUser">
                  <li><a href="#/mindmaps/" active-link="active">Mind maps</a></li>
                  <li><a href="#/about" active-link="active">About</a></li>
                  <li><a class="lightboxLauncher" href="" data-ng-click="fillLightbox('login')">Sign in</a></li>
                  <li> <a href="#/sign-up" active-link="active">Sign up</a></li>
                </ul>
              </div>
          </div>
        </div>
      </div>
      <!-- loading -->
      <div id="Loading" data-ng-hide="busloaded"><h1 class="loadingCaption">Connecting...</h1></div>
      <!-- view -->
      <div ui-view data-ng-show="busloaded"></div>
  </div>

  <!-- lightbox -->
  <div id="Lightbox" class="lightbox" data-ng-lightbox='{"launcherClass":"lightboxLauncher"}' >
    <a href="#"><div id="LightboxCloser"></div></a>
    <div id="LightboxBody" class="lightboxBody" data-ng-include="lightboxBody" onload="onLightboxFilled()">
    </div>
  </div>
  <!-- scripts -->
  <script src="js3rdparty/jquery-1.11.2.min.js"></script>
  <script src="js3rdparty/sockjs-min-0.3.4.js"></script>
  <script src="js3rdparty/d3.v3.min.js"></script>
  <script src="js3rdparty/bootstrap.min.js"></script>
  <script src="js3rdparty/spin.min.js"></script>
  <script src="js3rdparty/moment.min.js"></script>

  <script src="js3rdparty/angular/angular.js"></script>
  <script src="js3rdparty/angular/angular-cookies.min.js"></script>
  <script src="js3rdparty/angular/angular-ui-router.min.js"></script>
  <script src="js3rdparty/angular/local-storage.js"></script>
  <script src="js3rdparty/angular/angular-spinner.min.js"></script>
  <script src="js3rdparty/bootstrap-editable.js"></script>
  
  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/directives.js"></script>
  <script src="js/vertxbus.js"></script>
  <script src="js/editor.js"></script>
  <script src="js/mindmap_utils.js"></script>

</body>
</html>
