<!DOCTYPE html>
<html lang="cs" data-ng-app="mindmap">
<head>
  <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="description" content="">
   <meta name="author" content="">
  <title>Mindmap Editor</title>
  <!-- bootstrap -->
  <link rel="stylesheet" href="css/vendor/bootstrap.min.css">
  <link rel="stylesheet" href="css/vendor/bootstrap-theme.min.css">
  <link rel="stylesheet" href="css/bootstrap-editable.css">
  <link rel="stylesheet" href="css/styles.css">
</head>
<body data-ng-controller="AppCtrl">
  <div class="row">
    <!-- header  -->
      <div class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <div class="navbar navbar-default navbar-fixed-top">
            <div class="navbar-inner">
              <div class="headerCaption">
                <h1 class="mainCaption">MindMap Editor</h3>
               <div id="MapName" class="nomargin">&nbsp;</div>
              </div>
              <div id="HeaderFormSection">
                <form id="CreateMapForm" class="create-form row">
                  <input id="CreatedMapName" class="col-md-3 form-control" type="text" name="name" required placeholder="Search in mindmaps">
                  <input class="col-md-3 btn btn-primary pull-right" type="submit" value="Search">
                </form>
              </div>
              <div class="headerLinks">
                  <span data-ng-if="currentUser">
                  <a href="#/mindmap/public" ui-shref="mindmap('public');">Public maps</a> <span class="delimiter">|</span>
                  <a href="#/mindmap/user" ui-shref="mindmap('user');">My maps</a> <span class="delimiter">|</span>
                  <a href="#/about">About</a> <span class="delimiter">|</span>
                    <span class="headerText">Logged as: {{currentUser.username}} </span><span class="delimiter">|</span>  <a href="" data-ng-click="logout()">Logout</a>
                  </span>
                  <span data-ng-if="!currentUser">
                    <a href="#/mindmap">Mind maps</a> <span class="delimiter">|</span>
                    <a href="#/about">About</a> <span class="delimiter">|</span>
                    <a class="lightboxLauncher" href="" data-ng-click="fillLightbox('login')">Login</a>
                  </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- loading -->
      <div id="Loading" data-ng-hide="busloaded"><h1>Načítám</h1></div>
      <!-- view -->
      <div ui-view data-ng-show="busloaded"></div>
  </div>

  <!-- lightbox -->
  <div class="lightbox" data-ng-lightbox='{"launcherClass":"lightboxLauncher"}' id="lightbox" >
    <a href="#"><div id="LightboxCloser"></div></a>
    <div class="lightboxBody" data-ng-include="lightboxBody">
    </div>
  </div>
  <!-- scripts -->
  <script src="js3rdparty/jquery-1.11.2.min.js"></script>
  <script src="js3rdparty/sockjs-min-0.3.4.js"></script>
  <script src="js3rdparty/d3.v3.min.js"></script>
  <script src="js3rdparty/bootstrap.min.js"></script>
  <script src="js3rdparty/spin.min.js"></script>

  <script src="js3rdparty/angular/angular.js"></script>
  <script src="js3rdparty/angular/angular-cookies.min.js"></script>
  <script src="js3rdparty/angular/angular-ui-router.min.js"></script>
  <script src="js3rdparty/angular/local-storage.js"></script>
  <script src="js3rdparty/angular/angular-spinner.min.js"></script>
  <script src="js3rdparty/bootstrap-editable.js"></script>
  
  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/directives.js"></script>
  <script src="js/vertxbus.js"></script>
  <script src="js/editor.js"></script>
  <script src="js/mindmap_utils.js"></script>

</body>
</html>
